= semantic_form_for resource, :url => book_lending_path, :html => { :class => 'form-horizontal' } do |f|
  = f.inputs do
    = f.input :customer, :label => "Kunde"#, :input_html => { 'data-chosen' => true }
  = f.actions do
    = f.action :submit, :as => :button, :label => "Leihe Buch aus"
