%p#notice= notice
%p
  %b Book:
  = @lending.book_id
%p
  %b Customer:
  = @lending.customer_id
%p
  %b Taken at:
  = @lending.taken_at
%p
  %b Returned at:
  = @lending.returned_at
= link_to 'Edit', edit_lending_path(@lending)
|
\#{link_to 'Back', lendings_path}
